<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Projects</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

<div id="wrapper">

    <div th:replace="fragments/menu :: sidebar"> </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">


            <div class="row">
                <div class="col-lg-12">

                    <div class="well">

                        <h3>Add new project</h3>
                        <hr>


                        <form  th:object="${project}" method="post">

                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />


                            <div class="form-group" th:classappend="${#fields.hasErrors('name')} ?  has-danger">
                                <label>Project name</label>
                                <input type="text" th:field="*{name}" class="form-control"/>
                                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-control-feedback">{errMsg}</div>
                            </div>


                            <div class="form-group" th:classappend="${#fields.hasErrors('description')} ?  has-danger">
                                <label>Project description (optional)</label>
                                <textarea class="form-control" rows="3" th:field="*{description}"></textarea>
                                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="form-control-feedback">{errMsg}</div>
                            </div>


                            <input type="submit" value="Create project" class="btn btn-success"  />

                        </form>





                    </div>

                    <div th:replace="fragments/footer :: footer"> </div>


                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<div th:replace="fragments/footer :: dt-scripts"> </div>
</body>
</html>