<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div layout:fragment="content" ng-controller="projectDetails">


    <p>{{project.name}}</p>
    <p>{{project.description}}</p>


    <button class="btn btn-secondary">Forms({{project.formCount}})</button>


    <button class="btn btn-secondary">Add new form</button>

    <hr>

    <h4>Project team</h4>


    <span sec:authentication="name">Bob</span>

    <span sec:authentication="principal.firstName"></span>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in project.team">
                <td>{{user.fullName}}</td>
                <td>{{user.email}}</td>
                <td>
                    <span>{{user.username == project.owner ? 'Owner' : 'User'}}</span>
                </td>
                <td><button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></td>
            </tr>
        </tbody>
    </table>


</div>
</body>
</html>