<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Projects</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

<div id="wrapper">

    <div th:replace="fragments/menu :: sidebar"> </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">


            <div class="row">
                <div class="col-lg-12">

                    <div class="well">


                        <div class="row">
                            <div class="col-md-8">
                                <h3 th:text="${project.name}"></h3>
                                <p th:text="${project.description}"></p>
                            </div>
                            <div class="col-md-4">

                                <div class="btn-group btn-group-sm pull-right" role="group">
                                    <a th:href="@{/projects/archive(pid=${project.id})}" th:unless="${project.archived}" class="btn btn-secondary">Archive project</a>
                                    <a th:href="@{/projects/unarchive(pid=${project.id})}" th:if="${project.archived}" class="btn btn-secondary">Restore project</a>
                                    <a th:href="@{/projects/delete(pid=${project.id})}" class="btn btn-danger">Remove project</a>
                                </div>



                            </div>
                        </div>








                        <a href="/forms" th:text="${'Forms(' + project.formCount + ')'}" class="btn btn-secondary btn-sm"> forms</a>
                        <a th:href="@{/forms/new(pid=${project.id})}" class="btn btn-secondary btn-sm"> <i class="fa fa-plus" aria-hidden="true"></i> Add new form</a>
                        <a th:href="@{/projects/edit/} + ${project.id}" class="btn btn-secondary btn-sm"> <i class="fa fa-pencil" aria-hidden="true"></i> Edit project</a>

                        <hr>


                        <div class="row">
                            <div class="col-md-4">
                                <h4>Group and Users to project</h4>
                            </div>
                            <div class="col-md-8">

                                <form class="form-inline">

                                    <div class="form-group">
                                        <select class="form-control" id="exampleSelect1">
                                            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.fullName + ' (User)'}"></option>
                                            <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name + ' (Groups)'}"></option>
                                        </select>
                                    </div>

                                    <button type="submit" class="btn btn-success"> <i class="fa fa-plus" aria-hidden="true"></i>  Add</button>
                                </form>


                            </div>
                        </div>





                        <hr>

                        <table class="table table-striped table-bordered datatable" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Group or User</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  th:each="user : ${project.users}">


                            </tr>
                            </tbody>
                        </table>












                    </div>

                    <div th:replace="fragments/footer :: footer"> </div>


                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<div th:replace="fragments/footer :: dt-scripts"> </div>
</body>
</html>