<!DOCTYPE html>
<html lang="en" ng-app="dynForms">
<head th:replace="fragments/header :: head"></head>
<body>
<div id="wrapper">
    <!-- sidebar -->
    <div th:replace="fragments/header :: sidebar">
        {sidebar}
    </div>
    <!-- //sidebar -->
    <!-- main -->
    <div id="main">
        <!-- top menu -->
        <div th:replace="fragments/header :: menu">
            {menu}
        </div>
        <!-- //top menu -->
        <div class="container-fluid">
            <!-- page content -->
            <div layout:fragment="content">
                {content}
            </div>
            <!-- // page content -->
            <!--  footer -->
            <div th:replace="fragments/footer :: footer">
                {footer}
            </div> <!-- //footer -->
        </div> <!-- //container-fluid -->
    </div>  <!-- //main -->
</div><!-- // wrapper -->
</body>
</html>