<!doctype html>
<html>
<head>
    <title>Hello AngularJS</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
<div class="container">


    <p><a href="/">Home</a></p>

    <h4 th:text="${form.title}">{title}</h4>

    <p th:text="${form.description}">{id}</p>


    <hr/>


    <form  th:object="${form}" method="post"  enctype="multipart/form-data">

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <input type="hidden" th:value="${form.id}" name="formId"/>

        <span th:each="field : ${page.fields}" th:classappend="${field.hasError} ? has-danger">

            <div class="form-group" th:classappend="${field.hasError} ? adminclass : userclass">

            <label th:text="${field.label}">{label}</label>


        <span  th:switch="${field.type}">

        <span th:case="'text'">
            <input type="text"  th:name="${field.name}" th:value="${field.value}" class="form-control"/>
        </span>

        <span th:case="'textarea'">
            <textarea class="form-control" name="texta" rows="3"></textarea>
        </span>


        <span th:case="'select'">
            <select class="form-control">
                <option th:each="option : ${field.options}"
                        th:value="${option.value}"
                        th:text="${option.name}">{option}</option>
            </select>
        </span>


         <span th:case="'radio'">
            <div th:each="option : ${field.options}">
                <label class="form-check-label">
                <input type="radio" class="form-check-input" th:name="${field.name}" th:value="${option.value}"/>
                    <span th:text="${option.label}"></span>
                </label>
            </div>
        </span>


        <span th:case="'check'">
             <div th:each="option : ${field.options}">
                <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="radiotest"/>
                    <span th:text="${option.name}"></span>
                </label>
            </div>
        </span>

        <span th:case="'fileUpload'">
            <input type="file"/>
        </span>


    </span>
                <div th:if="${field.helpText != null}" class="form-text text-muted" th:text="${field.helpText}">{errMsg}</div>
            <div th:if="${field.hasError}" class="form-control-feedback" th:text="${field.errMsg}">{errMsg}</div>


        </div></span>

        <input type="submit" value="submit" class="btn btn-success" />

    </form>





</div>
</body>
</html>