<!doctype html>
<html>
<head>
    <title>Hello AngularJS</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
<div class="container">

    <h3>Import data</h3>

<hr/>
    <form  th:object="${form}" method="post"  enctype="multipart/form-data">

        <div class="form-group">
            <label>Select form to which you want to import data.</label>
        <select class="form-control">
            <option>--Select---</option>
            <option th:each="form : ${forms}"
                    th:value="${form.id}"
                    th:text="${form.title}">{option}</option>
        </select>
        </div>

        <div class="form-group">
            <label>File input</label>
            <input type="file" name="file" class="form-control-file" />
            <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
        </div>


        <input type="submit" value="Continue" class="btn btn-success" />

    </form>


</div>
</body>
</html>