<!doctype html>
<html>
<head>
    <title>Hello AngularJS</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
<div class="container">

    <h3>Step 2 - Validate data</h3>

    <p>Please validate data.</p>

    <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>
    <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>


    <table class="table">
        <tr th:each="row : ${data}">
            <td th:each="field : ${form.fields}" th:text="${row.__${field.name}__}">data</td>
            <td><a href="#">edit</a> | <a href="#">delete</a></td>
        </tr>
    </table>


</div>
</body>
</html>