<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Projects</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

<div id="wrapper">

    <div th:replace="fragments/menu :: sidebar"> </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">


            <div class="row">
                <div class="col-lg-12">


                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/groups/} + ${group.id}" role="tab">General</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/groups/members/} + ${group.id}">Members <span class="tag tag-default" th:text="${group.membersCount}">total</span></a>
                        </li>
                    </ul>




                    <div class="well">


                        <div th:if="${error}" class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <span th:text="${error}"></span>
                        </div>




                        <div th:if="${succ_msg}" class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <span th:text="${succ_msg}"></span>
                        </div>

                        <form  th:object="${group}" method="post">

                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />


                            <div class="form-group" th:classappend="${#fields.hasErrors('name')} ?  has-danger">
                                <label>Group name</label>
                                <input type="text" th:field="*{name}" class="form-control" th:disabled="${group.default}"/>
                                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-control-feedback">{errMsg}</div>
                            </div>

                            <div class="form-group" th:classappend="${#fields.hasErrors('description')} ?  has-danger">
                                <label>Description (optional)</label>
                                <textarea class="form-control" rows="3" th:field="*{description}" th:disabled="${group.default}"></textarea>
                                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="form-control-feedback">{errMsg}</div>
                            </div>

                            <div class="form-group" th:classappend="${owner} ?  has-danger">
                                <label>Owner</label>
                                <select th:field="*{owner}" class="form-control" th:disabled="${group.default}">
                                    <option th:each="user : ${users}" th:value="${user.username}" th:text="${user.fullName + ' - ' + user.username}" th:selected="${user.id == group.owner}"></option>
                                </select>
                                <div th:if="${owner}" th:text="${owner}" class="form-control-feedback">{errMsg}</div>
                            </div>


                            <div th:if="${!group.default}">
                            <input type="submit" value="Update" class="btn btn-success" />
                            </div>
                            </form>

                        </form>




                    </div>

                    <div th:replace="fragments/footer :: footer"> </div>


                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<div th:replace="fragments/footer :: dt-scripts"> </div>
</body>
</html>