<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

<div id="wrapper">

    <div th:replace="fragments/menu :: sidebar"> </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div th:replace="fragments/menu :: dashborad"> </div>


            <div class="row">
                <div class="col-lg-12">


                    <h1>Welcome to dashboard</h1>
                    <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                    <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>

                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out" class="btn btn-success"/>
                    </form>


                    <div th:replace="fragments/footer :: footer"> </div>


                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->



<div th:replace="fragments/footer :: scripts"> </div>


</body>
</html>







