<!doctype html>
<html>
<head>
    <title>Form Design</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
<div class="container">

    <h3>Form designer</h3>
    <hr/>


    <div class="row">
        <div class="col-md-4">
            <p><button class="btn btn-primary btn-block" ng-click="addItem('text')">Single text box</button></p>
            <p><button class="btn btn-primary btn-block" ng-click="addItem('textarea')">Multiline text box</button></p>
            <p><button class="btn btn-primary btn-block" ng-click="addItem('multiple')">Multiple choice</button></p>
            <p><button class="btn btn-primary btn-block" ng-click="addItem('check')">Checkbox</button></p>
            <p><button class="btn btn-primary btn-block" ng-click="addItem('select')">Dropdown list</button></p>
            <p><button class="btn btn-primary btn-block" ng-click="addItem('upload')">File upload</button></p>
            <p><button class="btn btn-primary btn-block" ng-click="addItem('content')">Content block</button></p>
        </div>
        <div class="col-md-8">
            ddd
        </div>
    </div>


</div>
</body>
</html>