<!doctype html>
<html>
<head>
    <title>Hello AngularJS</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
<div class="container">

    <h3>All forms</h3>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

<a href="form/insert" class="btn btn-success">Insert</a>
<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Action</th>
        <th>Action</th>
    </tr>

    <tr th:each="form : ${forms}">
        <td th:text="${form.title}"></td>
        <td><a class="btn btn-default btn-sm" th:href="@{/capture/} + ${form.id}">Capture data</a></td>
        <td><a class="btn btn-default btn-sm" th:href="@{/import/} + ${form.id}">Import CSV</a></td>
    </tr>
</table>

</div>
</body>
</html>