<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <p>Thank you. Your data has been submitted successfully!</p>
        <button type="button" onclick="location.href='/'" class="btn btn-success">Home</button>
    </div>
</body>
</html>