<!doctype html>
<html>
<head>
    <title>Hello AngularJS</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
<div class="container">


        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-xs-right">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/forms">Forms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Dynamic Forms</h3>
        </div>


            <h3 class="display-4">Welcome to DynForms</h3>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-lg btn-success" href="/capture/57d3e981b417cd91afeba0ae">All forms</a></p>



        <footer class="footer">
            <p>&copy; Company 2016</p>
        </footer>






</div>
</body>
</html>