<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello AngularJS</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
<div class="container">


    <div class="row">
        <div class="col-md-6 offset-md-3">

            <h3>Login to your account</h3>
            <hr/>

<div th:if="${param.error}" class="alert alert-danger" role="alert">
    Invalid username and password.
</div>
<div th:if="${param.logout}" class="alert alert-success" role="alert">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div class="form-group"><label> Email address / Username  </label><input type="text" name="username" class="form-control"/> </div>
    <div class="form-group"><label> Password</label> <input type="password" name="password" class="form-control"/> </div>
    <input type="submit" value="Log in" class="btn btn-primary"/>
</form>





            <a th:href="@{'/forgot-password'}">Unable to access your account?</a>
            <p>To request an account, please contact your site administrators.</p>

           </div>
    </div>

<div th:replace="fragments/footer :: footer"> </div>

</div>
</body>
</html>